<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header" />

<body>

<div th:replace="fragments/bodyHeader :: bodyHeader"/>

<div id = "wrapper" style="max-width: 30rem; margin: auto; z-index: 1;">

    <div class="form-container" style="max-width: 60rem; margin: auto">
        <form th:action="@{/admin/contents/new}" th:object="${form}" method="post">

            <div class="form-group">
                <label th:for="contentsNum">항목번호</label>
                <input type="text" th:field="*{contentsNum}" class="form-control" placeholder="항목번호를 입력하세요">
            </div>

            <div class="form-group">
                <label th:for="contentsName">항목명</label>
                <input type="text" th:field="*{contentsName}" class="form-control" placeholder="항목명을 입력하세요">
            </div>

            <div class="form-group">
                <label th:for="contentsPrice">가격</label>
                <input type="number" th:field="*{contentsPrice}" class="form-control" placeholder="가격을 입력하세요">
            </div>

            <div class="form-group">
                <label th:for="contentsExplain">항목명</label>
                <textarea th:field="*{contentsExplain}" class="form-control" rows="3" placeholder="입력하세요"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
    <br/>
</div>
</body>
<img src="/image/footer.png" style="width: 100%">
</html>