
.nav-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 70px;
}

.nav-brand{
    padding-bottom: 0px;
}

.nav-item{
    padding: 25px;
}

.nav-item a{
    text-align: center;
    color: black;
    font-size: 21px;
    text-decoration: none;
}

.nav-login1{
    padding-left: 200px;
    padding-top: 30px;
}

.nav-login2{
    padding-top: 30px;
    padding-left: 10px;
}

.nav-login1 a, .nav-login2 a{
    text-align: center;
    font-size:15px;
    color: grey;
}


hr{
    color: #575757;
    margin-bottom: 2rem;
}

.btn-primary{
    background-color: #02a5af;
    transition: unset;
    border: 0;
    outline: 0;
}

.btn-primary:focus{
    outline: 0;
}


 a{
     text-decoration: none;
     color: black;
 }

#menu-header{
    color: black;
}

#toggle{
    display: none;
}

#nav{
    display: none;
}

#nav li {
    display: block;
    width: 100%;
    text-align: right;
    padding: 4px;
}

#nav-label{
    display: block;
    background-size: 24px 19px;
    text-align: left;
    padding: 3px;
    background: url("../image/메뉴바.png") no-repeat 97% 3px;
    background-size: 25px 25px;
    font-size: 20px;
    font-weight: bold;
}

#toggle:checked + #nav{
    display: block;
}