<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet'>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>


</head>


<body>

<div th:replace="fragments/bodyHeader :: bodyHeader" />

<div id = "wrapper" style="max-width: 30rem; margin: auto; z-index: 1;">
    <hr>
    <div class="item-form-container" style="width: 85%; margin: auto; ">

        <div class="item-form-header"style="margin-bottom: 1rem"> <h1>그룹 만들기</h1> </div>
        <hr style="margin-bottom: 1rem">

        <form name="item-create-form" th:action="@{/items/new}" th:object="${form}" method="post">

            <div class="form-group">
                <label for="exampleFormControlInput1">그룹 이름</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="itemName" placeholder="상품 이름을 입력해주세요.">
            </div>

            <!--문제의 친구..-->
            <div class="form-group">
                <div>
                    <input value="보장항목 선택" onclick="if(this.parentNode.getElementsByTagName('div')[0].style.display != ''){this.parentNode.getElementsByTagName('div')[0].style.display = '';this.value = '선택완료';}else{this.parentNode.getElementsByTagName('div')[0].style.display = 'none'; this.value = '보장항목 선택';}" type="button" />
                <div style="display: none;">
                    <label th:each="contents : ${contentsList}" style="display:inline-block; width:260px; line-height:30px" >
                        <input type="checkbox" name="checkedContents" th:text="${contents.contentsName}" th:value="${contents.contentsNum}">
                    </label>
                </div>
                </div>
            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect1">보장기간 선택</label>
                <select class="form-control" id="exampleFormControlSelect1" name="period">
                    <option value=1>1년</option>
                    <option value=2>2년</option>
                    <option value=3>3년</option>
                    <option value=4>4년</option>
                    <option value=5>5년</option>
                    <option value=6>6년</option>
                    <option value=7>7년</option>
                    <option value=8>8년</option>
                    <option value=9>9년</option>
                    <option value=10>10년</option>
                </select>
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea1">그룹 소개</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="itemExplanation" rows="3" ></textarea>
            </div>

            <!--
            <div class="form-group">
                <label>보장항목 선택</label>
                <input type="checkbox" th:each="contents : ${contentsList}" th:text="${contents.contentsName}">
            </div>
            -->
            <button type="submit" class="btn btn-info" style="float: right">승인요청</button>
        </form>

        <!--
        <a href="/admin/contents" class="btn btn-primary" role="button">contents로 가기</a>
        -->

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</div>

</body>

<div th:replace="fragments/footer :: footer" />

</html>


<style>

    h1{
        color: #383838;
        font-size: 20px;

    }

    label{
        margin-left: 3px;
    }

    .form-group {
        margin-bottom: 1.5rem;
    }

    hr{
        margin-top: 0;
    }



</style>